<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{! Twitter Share Metadata }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{meta_title}}" />
    <meta name="twitter:description" content="{{meta_description}}" />

    {{! Open Graph Share Metadata }}
    <meta name="og:type" content="article" />
    <meta name="og:title" content="{{meta_title}}" />
    <meta name="og:description" content="{{meta_description}}" />

    {{! Custom Metadata}}
    {{> custom/meta this}}

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="https://ghost.org/assets/favicon-e13fe17b11ad125601924cfb260f20da.ico">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,200" />
    <link rel="stylesheet" type="text/css" href="https://ghost.org/assets/application-53c891abfa2c2305e65de0c84c76e9e1.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="fb-root"></div>

    {{navigation}}

    <main role="main">
        <div class="page-wrapper">
            {{{body}}}
            <div class="clearfix"></div>
        </div>
    </main>

    <div class="clearfix"></div>

    {{footer}}

    {{ghost_foot}}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--<script src="https://ghost.org/navigation/"></script>-->

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{! Twitter buttons }}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {{! Facebook buttons }}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=596756540369391";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {{! Google+ buttons }}
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

    {{! Google Analytics Support - change 'UA-#######-#' to your code before deploying }}
    <script>
        {{> custom/config }}

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', ga_ua, ga_site);
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</body>
</html>
